arctic @ git+https://github.com/man-group/arctic.git@451646458c5baf85815b1e4890b67b5bddba9f27
backports.zoneinfo==0.2.1
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
decorator==5.1.1
enum-compat==0.0.3
lz4==4.0.1
mock==4.0.3
mockextras==1.0.2
numpy==1.18.4
pandas==1.0.3
pymongo==3.11.0
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
tzdata==2022.1
tzlocal==4.2
